#chessboard {
    width: 512px;
    height: 512px;
    display: flex;
    flex-wrap: wrap;
}

.tile {
    width: 64px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.white {
    background-color: #f0d9b5;
}

.black {
    background-color: #b58863;
}

.tile img {
    width: 50%;
    height: auto;
}